<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to your files to import and export pdf documents.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photo library to save inbody report.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select images for adding inbody report.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture photos for adding inbody report.</string>
	<key>UIAppFonts</key>
	<array>
		<string>LamaSans-Bold.ttf</string>
		<string>LamaSans-Light.ttf</string>
		<string>LamaSans-Medium.ttf</string>
		<string>LamaSans-Regular.ttf</string>
		<string>LamaSans-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
